In [16]:
#Key Imports
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

In [17]:
#Access Data for annual Nominal GDP growth in percentage
#"https://fred.stlouisfed.org/series/GDP#0"

url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=GDP&scale=left&cosd=1970-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=pc1&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2020-11-12&revision_date=2020-11-12&nd=1947-01-01'
data = pd.read_csv(url, parse_dates = True)
data.head()

         DATE       GDP
0  1970-01-01   5.47314
1  1971-01-01   8.52868
2  1972-01-01   9.80918
3  1973-01-01  11.43481
4  1974-01-01   8.40947

In [18]:
#Summary Statistics for annual Nominal GDP growth in percentage
data.describe()

             GDP
count  50.000000
mean    6.325502
std     2.987518
min    -1.793760
25%     4.258455
50%     5.790765
75%     8.270052
max    12.958520

In [19]:
#Graphing for annual Nominal GDP growth in percentageðŸ˜Š

In [20]:
#Access Data for Median Family Income growth growth in percentage
#"https://fred.stlouisfed.org/series/MEFAINUSA646N#0"

url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MEFAINUSA646N&scale=left&cosd=1970-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2019-01-01&line_index=1&transformation=pc1&vintage_date=2020-11-12&revision_date=2020-11-12&nd=1953-01-01'
data = pd.read_csv(url, parse_dates = True)
data.head()

         DATE  MEFAINUSA646N_PC1
0  1970-01-01            4.60087
1  1971-01-01            4.23634
2  1972-01-01            8.07973
3  1973-01-01            8.41130
4  1974-01-01            7.06165

In [21]:
#Summary Statistics for Median Family Income growth in percentage
data.describe()

       MEFAINUSA646N_PC1
count          50.000000
mean            4.555356
std             2.759669
min            -2.329290
25%             2.676897
50%             4.691245
75%             6.264037
max            11.037410

In [22]:
#Graphing for Median Family Income growth in percentageðŸ˜Š

In [23]:
#Access Data for Consumer Price Index 
#"https://fred.stlouisfed.org/series/CPIAUCSL#0"

url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=CPIAUCSL&scale=left&cosd=1970-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2020-11-12&revision_date=2020-11-12&nd=1947-01-01'
data = pd.read_csv(url, parse_dates = True)
data.head()

         DATE   CPIAUCSL
0  1970-01-01  38.841667
1  1971-01-01  40.483333
2  1972-01-01  41.808333
3  1973-01-01  44.425000
4  1974-01-01  49.316667

In [24]:
#Summary Statistics for CPI
data.describe()

         CPIAUCSL
count   50.000000
mean   147.537423
std     66.657608
min     38.841667
25%     97.295833
50%    150.304167
75%    205.897708
max    255.650750

In [25]:
#Graphing for CPI in percentageðŸ˜Š

In [26]:
#Access Data for Median Sales Price growth in percentage of Houses Sold 
#"https://fred.stlouisfed.org/series/MSPUS#0"
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=MSPUS&scale=left&cosd=1970-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=pc1&vintage_date=2020-11-12&revision_date=2020-11-12&nd=1963-01-01'
data = pd.read_csv(url, parse_dates = True)
data.head()

         DATE  MSPUS_PC1
0  1970-01-01   -8.30078
1  1971-01-01    7.45474
2  1972-01-01    9.11794
3  1973-01-01   18.43778
4  1974-01-01   10.58282

In [27]:
#Summary Statistics for median sales price in percentage
data.describe()

       MSPUS_PC1
count  50.000000
mean    5.314861
std     5.299830
min    -8.300780
25%     2.958910
50%     5.236630
75%     8.830682
max    18.437780

In [28]:
#Graphing for median sales price growth in percentageðŸ˜Š